.elinput
{
  background-color:#0d2e4c;
  color: white;
  margin: 2px;
  width: 30px;
}

.App 
{
  text-align: center;
  background-color: #b8bcff;
  border: 2px solid #0d2e4c;
  width: 300px;
  margin: auto;
}

.button 
{
	box-shadow:inset 0px 34px 0px -15px #09233b;
	background-color:#0d2e4c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
  padding:5px 23px;
  margin: 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #0d2e4c;
}

.button:hover 
{
	background-color:#09233b;
}

.button:active 
{
	position:relative;
	top:1px;
}

.resultcontainer
{
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.elementscontainer
{
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.headercontainer
{
  margin: 10px;
  font-weight:bold;
  color: #0d2e4c;
  font-family: Arial, Helvetica, sans-serif;
}